<section class="section__options">
    <h5>Topping Style</h5>
    <ul class="ul__container-image">
        @for (topping of toppingStyles; track topping.id) {
            <li [class.active]="topping.active">
                <a [routerLink]="['/create-pizza', {
                    size: customProductService.custom.size,
                    crust: customProductService.custom.crust,
                    topping: topping.id
                }]">
                    <img [src]="topping.imageUrl" />
                </a>
            </li>
        }
    </ul>
</section>