@for (shoppingCart of products; track shoppingCart.id) {
    <section>
        <img [src]="shoppingCart.imageUrl">
        <article class="product__card">
            <h4>{{ shoppingCart.name }}</h4>
            <small>Precio por unidad: {{ shoppingCartService.shoppingCartForPrice(shoppingCart.price) }}</small> 
            <samp>{{ shoppingCartService.shoppingCartForPrice(shoppingCart.total) }}</samp>
            <p>{{shoppingCart.categories[0].name}}</p>
            <form (submit)="updateCart($event, shoppingCart.id)" action="?" method="POST">
                @if (shoppingCart.amount > 1) {
                    <input type="submit" data-opcion="decreaseAmount" value="-" min="1">
                }
                <input (input)="updateCart($event, shoppingCart.id)" type="number" data-opcion="change" pattern="[0-9]+" name="amount" [value]="shoppingCart.amount" min="1">
                <input type="submit" data-opcion="increaseAmount" value="+">
                <input class="form__delete" data-opcion="remove" type="submit" value="x">
            </form>
        </article>
    </section>    
}