<section class="section__options">
    <h5>Crust</h5>
    <ul class="ul__container">
        @for (crust of crusts; track crust.id) {
            <li [class.active]="crust.active">
                <a [routerLink]="['/create-pizza',{
                        size: customProductService.custom.size,
                        crust: crust.id,
                        topping: customProductService.custom.topping
                    }]">
                    @if (crust.extraPrice != 0) {
                        <h5>{{ crust.name }}</h5>
                        <span>£{{ crust.extraPrice }}</span>
                    }@else {
                        <span>{{ crust.name }}</span>
                    }
                </a>
            </li>
        }
    </ul>
</section>