.section__options {
    padding-top: 20px;
 }
 
 .section__options > h5 {
     color: var(--color-7);
     font-family: "Signika-SemiBold";
     font-size: 15px;
 }
 
 .ul__container {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 3%;
     padding-bottom: 3%;
 }
 
 .ul__container > li {
     margin-top: 5%;
     border-radius: 15px;
     list-style: none;
     padding: 5px;
     min-width: 22.75%;
     height: 70px;
     background-color: var(--color-1);
     cursor: pointer;
     touch-action: manipulation;
     -ms-touch-action: manipulation;
     -webkit-tap-highlight-color: transparent;
     outline: none;
     user-select: none;
 }
 
 .ul__container li a {
     height: 100%;
     text-decoration: none;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 
 .ul__container li a h5 {
     color: var(--color-7);
     font-family: "Signika-Regular";
     font-size: 14px;
     font-weight: normal;
     text-align: center;
 }
 
 .ul__container li a span {
     color: var(--color-2);
     font-family: "Signika-SemiBold";
     font-size: 16px;
     text-align: center;
 }
 
 .ul__container > li.active {
     border: 1px solid var(--color-3);
     box-shadow: 0px 0px 4px 1px var(--color-5);
 }
 
 .ul__container > li.active a h5 {
     color: var(--color-2);
 }
 
 .ul__container > li.active a span {
     color: var(--color-5);
 }
 
 /* Si hay solo 1 elemento */
 .ul__container > li:first-child:last-child {
     min-width: 50%;
 }
 
 /* Si hay exactamente 2 elementos */
 .ul__container > li:first-child:nth-last-child(2),
 .ul__container > li:first-child:nth-last-child(2) ~ li {
     min-width: 48.5%;
 }
 
 /* Si hay exactamente 3 elementos */
 .ul__container > li:first-child:nth-last-child(3),
 .ul__container > li:first-child:nth-last-child(3) ~ li {
     min-width: 31.33%;
 }
 
 /* Si hay 4 o más elementos ajustar el texto*/
 .ul__container > li:first-child:nth-last-child(n+4) a,
 .ul__container > li:first-child:nth-last-child(n+4) ~ li a {
     width: 19vw;
 }