<section class="section__options">
    <h5>Tamaño</h5>
    <ul class="ul__container">
        @for (size of customProductService.sizeProductService.sizes; track size.id) {
            <li [class.active]="size.active">
                <a [routerLink]="['/create-pizza', {
                        size: size.id,
                        crust: customProductService.custom.crust,
                        topping: customProductService.custom.topping
                    }]">
                    <!-- queryParamsHandling="merge" -->
                    <h5>{{ size.name }} </h5>
                    <h5><small>{{ customProductService.sizeProductService.sizeView(size) }}</small></h5>
                    <span>{{ customProductService.sizeProductService.sizeForPrice(size) }}</span>
                </a>
            </li>
        }           
    </ul>
</section>