main{
    padding: 10px 5px 30px 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.section__subtotal{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}
.section__subtotal h1{
    font-family: "Signika-Bold";
    color: var(--color-2);
    font-size: 24px;
}
.section__subtotal span{
    font-family: "Signika-regular";
    color: var(--color-3);
    font-size: 24px;
}