@for (product of catalogService.productsFilter; track product.id) {
    <section [class.active]="product.price == null">
        <img [src]="product.imageUrl" [alt]="product.name">
        <div class="product__details">
            @if (product.price != null) {
                <strong>£ {{product.price}}</strong>
            }
            <h5>{{ product.name }}</h5>
            <p>{{ product.description }}</p>
            @if(product.price == null) {
                <button [routerLink]="['/create-pizza']">Create Now</button>
            }@else {
                <button (click)="addProductShoppingCart(product)">Add</button>
            }
            
        </div>
    </section>
}