<section class="section__options">
    <h5>Salsa</h5>
    <ul class="ul__container section__options__list ">
        @for (sauce of customProductService.sauceProductService.sauces; track sauce.id) {
            <li [class.active]="sauce.active">
                @if (customProductService.customViews == "left-half") {
                    <a [routerLink]="['/left-half',
                    {
                        sauce: sauce.id,
                        choose: customProductService.custom['left-half'].choose
                    }]">
                        <span>{{ sauce.name }}</span>
                    </a>
                }@else if (customProductService.customViews == "right-half") {
                    <a [routerLink]="['/right-half',
                    {
                        sauce: sauce.id,
                        choose: customProductService.custom['right-half'].choose
                    }]">
                        <span>{{ sauce.name }}</span>
                    </a>
                }
            </li>
        }
    </ul>
</section>