main{
    padding: 10px 5px 0px 5px;
}
.section__information{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.section__information h1{
    color: var(--color-2);
    font-family: "Signika-SemiBold";
    font-size: 24px;
}
.section__information p{
    width: 90%;
    color: var(--color-7);
    font-family: "Signika-Light";
    font-size: 14px;
    text-align: left;
}
.section__information span{
    color: var(--color-2);
    font-family: "Signika-Regular";
    font-size: 15px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}
footer .next__button{
    width: 100%;
    height: 56px;
    background-color: var(--color-4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-decoration: none;
    color: var(--color-1);
    font-family: "Signika-SemiBold";
    font-size: 17px;
}
footer .add__to__cart{
    width: 100%;
    height: 56px;
    background-color: var(--color-4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-decoration: none;
    color: var(--color-1);
    font-family: "Signika-SemiBold";
    font-size: 17px;
}