@switch (customProductService.customViews) {
    @case ("create-pizza") {
        <main>
            <section class="section__information">
                <h1>Create Your Own Pizza</h1>
                <p>Create your own pizza by choosing a crust, sauce and toppings! Select from three crust sizes & thincknesses, choice of sauce over 10 individual toppings</p>
                <span>You can choose upto 4 FREE toppins and 4 Extra toppings for £0.55 each</span>
            </section>
            <router-outlet name="size" />
            <router-outlet name="crust" />
            <router-outlet name="topping" />
        </main>
        <footer>
            <a [routerLink]="[
                'left-half',
                {
                    sauce: customProductService.custom['left-half'].sauce,
                    choose: customProductService.custom['left-half'].choose,
                }
                ]">Next</a>
            <!-- queryParamsHandling="preserve" -->
        </footer>
    }
    @case ("left-half") {
        <main>
            <router-outlet name="choose-topping-parts" />
            <router-outlet name="sauce" />
            <router-outlet name="choose" />
        </main>
        <footer>
            <a href="#">Add to Cart</a>
            <!-- queryParamsHandling="preserve" -->
        </footer>
    }
}