<main>
    <section class="section__information">
        <h1>Create Your Own Pizza</h1>
        <p>Create your own pizza by choosing a crust, sauce and toppings! Select from three crust sizes & thincknesses, choice of sauce over 10 individual toppings</p>
        <span>You can choose upto 4 FREE toppins and 4 Extra toppings for £0.55 each</span>
    </section>
    <section class="section__options">
        <h5>Size</h5>
        <ul class="ul__container">
            <li class="active">
                <a href="">
                    <h5>7 inch</h5>
                    <span>£5.99</span>
                </a>
            </li>
            <li>
                <a href="">
                    <h5>9.5 inch</h5>
                    <span>£5.99</span>
                </a>
            </li>
            <li>
                <a href="">
                    <h5>11.5 inch</h5>
                    <span>£13.99</span>
                </a>
            </li>
            <li>
                <a href="">
                    <h5>13.5 inch</h5>
                    <span>£5.99</span>
                </a>
            </li>
            <li>
                <a href="">
                    <h5>9.5 inch</h5>
                    <span>£11.99</span>
                </a>
            </li>
            <li>
                <a href="">
                    <h5>11.5 inch</h5>
                    <span>£13.99</span>
                </a>
            </li>
            <li>
                <a href="">
                    <h5>13.5 inch</h5>
                    <span>£15.99</span>
                </a>
            </li>
        </ul>
    </section>
    <section class="section__options">
        <h5>Crust</h5>
        <ul class="ul__container">
            <li class="active">
                <a href="">
                    <span>Classic Crust</span>
                </a>
            </li>
            <li>
                <a href="">
                    <h5>Italian Crust</h5>
                    <span>+£1.00</span>
                </a>
            </li>
        </ul>
    </section>
    <section class="section__options">
        <h5>Topping Style</h5>
        <ul class="ul__container-image">
            <li class="active">
                <a href="">
                    <img src="/assets/img/topping-style.png">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/topping-style2.png">
                </a>
            </li>
        </ul>
    </section>
</main>
<footer>
    <a href="#">Next</a>
</footer>