<header>
    <img src="/assets/img/banner2.png">
     <div class="div__breadcrumbs">
          @if (customProductService.customViews == "create-pizza") {
               <a [routerLink]="['/home']"><img src="/assets/img/back.svg"></a>
          }@else if (customProductService.customViews == "left-half" || customProductService.customViews == "right-half") {
               <a [routerLink]="['/create-pizza', 
               {
                   size: customProductService.custom.size,
                   crust: customProductService.custom.crust,
                   topping: customProductService.custom.topping
               }]"><img src="/assets/img/back.svg"></a>
          }
     
          <strong>Paso {{ customProductService.page }}<span> / 2</span></strong>
     </div>
</header>