.section__bubble{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    background-color: rgba(14, 15, 19, 0.817);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-1);
}
.section__bubble strong{
    font-family: "Signika-SemiBold";
    font-size: 17px;
    padding: 0 10px;
}
.section__bubble div{
    position: relative;
}
.section__bubble div span{
    font-size: 13px;
    z-index: 10;
    outline: 3px solid var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -10px;
    right: -7px;
    background: linear-gradient(-36deg, var(--color-3), var(--color-6));
    font-size: 13px;
}
.section__bubble div img{
    position: relative;
    right: 3px;
    width: 42px;
    height: 42px;
    object-fit: contain;
    background-color: var(--color-1);
    border-radius: 100%;
}